---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1464225784'
      Etag:
      - W/"bfb95e8f9fdeb9cab4e3d91f7cca889b"
      Last-Modified:
      - Mon, 23 May 2016 22:49:11 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"pindell-matt","id":8797393,"avatar_url":"https://avatars.githubusercontent.com/u/8797393?v=3","gravatar_id":"","url":"https://api.github.com/users/pindell-matt","html_url":"https://github.com/pindell-matt","followers_url":"https://api.github.com/users/pindell-matt/followers","following_url":"https://api.github.com/users/pindell-matt/following{/other_user}","gists_url":"https://api.github.com/users/pindell-matt/gists{/gist_id}","starred_url":"https://api.github.com/users/pindell-matt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pindell-matt/subscriptions","organizations_url":"https://api.github.com/users/pindell-matt/orgs","repos_url":"https://api.github.com/users/pindell-matt/repos","events_url":"https://api.github.com/users/pindell-matt/events{/privacy}","received_events_url":"https://api.github.com/users/pindell-matt/received_events","type":"User","site_admin":false,"name":"Matt
        Pindell","company":null,"blog":null,"location":null,"email":"pindell.m@protonmail.com","hireable":null,"bio":null,"public_repos":40,"public_gists":7,"followers":20,"following":18,"created_at":"2014-09-16T19:59:39Z","updated_at":"2016-05-23T22:49:11Z"}'
  recorded_at: Thu, 26 May 2016 00:23:38 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1464231007'
      Etag:
      - W/"f557dcd44ecd8739fe891ae6f4380fb1"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":56370165,"name":"swift","full_name":"jdliss/swift","owner":{"login":"jdliss","id":8560631,"avatar_url":"https://avatars.githubusercontent.com/u/8560631?v=3","gravatar_id":"","url":"https://api.github.com/users/jdliss","html_url":"https://github.com/jdliss","followers_url":"https://api.github.com/users/jdliss/followers","following_url":"https://api.github.com/users/jdliss/following{/other_user}","gists_url":"https://api.github.com/users/jdliss/gists{/gist_id}","starred_url":"https://api.github.com/users/jdliss/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdliss/subscriptions","organizations_url":"https://api.github.com/users/jdliss/orgs","repos_url":"https://api.github.com/users/jdliss/repos","events_url":"https://api.github.com/users/jdliss/events{/privacy}","received_events_url":"https://api.github.com/users/jdliss/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jdliss/swift","description":"get
        shwifty","fork":false,"url":"https://api.github.com/repos/jdliss/swift","forks_url":"https://api.github.com/repos/jdliss/swift/forks","keys_url":"https://api.github.com/repos/jdliss/swift/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jdliss/swift/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jdliss/swift/teams","hooks_url":"https://api.github.com/repos/jdliss/swift/hooks","issue_events_url":"https://api.github.com/repos/jdliss/swift/issues/events{/number}","events_url":"https://api.github.com/repos/jdliss/swift/events","assignees_url":"https://api.github.com/repos/jdliss/swift/assignees{/user}","branches_url":"https://api.github.com/repos/jdliss/swift/branches{/branch}","tags_url":"https://api.github.com/repos/jdliss/swift/tags","blobs_url":"https://api.github.com/repos/jdliss/swift/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jdliss/swift/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jdliss/swift/git/refs{/sha}","trees_url":"https://api.github.com/repos/jdliss/swift/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jdliss/swift/statuses/{sha}","languages_url":"https://api.github.com/repos/jdliss/swift/languages","stargazers_url":"https://api.github.com/repos/jdliss/swift/stargazers","contributors_url":"https://api.github.com/repos/jdliss/swift/contributors","subscribers_url":"https://api.github.com/repos/jdliss/swift/subscribers","subscription_url":"https://api.github.com/repos/jdliss/swift/subscription","commits_url":"https://api.github.com/repos/jdliss/swift/commits{/sha}","git_commits_url":"https://api.github.com/repos/jdliss/swift/git/commits{/sha}","comments_url":"https://api.github.com/repos/jdliss/swift/comments{/number}","issue_comment_url":"https://api.github.com/repos/jdliss/swift/issues/comments{/number}","contents_url":"https://api.github.com/repos/jdliss/swift/contents/{+path}","compare_url":"https://api.github.com/repos/jdliss/swift/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jdliss/swift/merges","archive_url":"https://api.github.com/repos/jdliss/swift/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jdliss/swift/downloads","issues_url":"https://api.github.com/repos/jdliss/swift/issues{/number}","pulls_url":"https://api.github.com/repos/jdliss/swift/pulls{/number}","milestones_url":"https://api.github.com/repos/jdliss/swift/milestones{/number}","notifications_url":"https://api.github.com/repos/jdliss/swift/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jdliss/swift/labels{/name}","releases_url":"https://api.github.com/repos/jdliss/swift/releases{/id}","deployments_url":"https://api.github.com/repos/jdliss/swift/deployments","created_at":"2016-04-16T06:55:12Z","updated_at":"2016-04-23T03:34:16Z","pushed_at":"2016-05-10T16:05:33Z","git_url":"git://github.com/jdliss/swift.git","ssh_url":"git@github.com:jdliss/swift.git","clone_url":"https://github.com/jdliss/swift.git","svn_url":"https://github.com/jdliss/swift","homepage":"","size":15,"stargazers_count":0,"watchers_count":0,"language":"Swift","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":51304908,"name":"code_breakers","full_name":"julsfelic/code_breakers","owner":{"login":"julsfelic","id":2493490,"avatar_url":"https://avatars.githubusercontent.com/u/2493490?v=3","gravatar_id":"","url":"https://api.github.com/users/julsfelic","html_url":"https://github.com/julsfelic","followers_url":"https://api.github.com/users/julsfelic/followers","following_url":"https://api.github.com/users/julsfelic/following{/other_user}","gists_url":"https://api.github.com/users/julsfelic/gis[...]
