---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1464231007'
      Etag:
      - W/"bfb95e8f9fdeb9cab4e3d91f7cca889b"
      Last-Modified:
      - Mon, 23 May 2016 22:49:11 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"pindell-matt","id":8797393,"avatar_url":"https://avatars.githubusercontent.com/u/8797393?v=3","gravatar_id":"","url":"https://api.github.com/users/pindell-matt","html_url":"https://github.com/pindell-matt","followers_url":"https://api.github.com/users/pindell-matt/followers","following_url":"https://api.github.com/users/pindell-matt/following{/other_user}","gists_url":"https://api.github.com/users/pindell-matt/gists{/gist_id}","starred_url":"https://api.github.com/users/pindell-matt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pindell-matt/subscriptions","organizations_url":"https://api.github.com/users/pindell-matt/orgs","repos_url":"https://api.github.com/users/pindell-matt/repos","events_url":"https://api.github.com/users/pindell-matt/events{/privacy}","received_events_url":"https://api.github.com/users/pindell-matt/received_events","type":"User","site_admin":false,"name":"Matt
        Pindell","company":null,"blog":null,"location":null,"email":"pindell.m@protonmail.com","hireable":null,"bio":null,"public_repos":40,"public_gists":7,"followers":20,"following":18,"created_at":"2014-09-16T19:59:39Z","updated_at":"2016-05-23T22:49:11Z"}'
  recorded_at: Thu, 26 May 2016 02:25:29 GMT
- request:
    method: get
    uri: https://api.github.com/users/pindell-matt/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1464231007'
      Etag:
      - W/"352de7e2aed22239fbf74cb1e318ce49"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"apiiiiii","id":19580612,"url":"https://api.github.com/orgs/apiiiiii","repos_url":"https://api.github.com/orgs/apiiiiii/repos","events_url":"https://api.github.com/orgs/apiiiiii/events","hooks_url":"https://api.github.com/orgs/apiiiiii/hooks","issues_url":"https://api.github.com/orgs/apiiiiii/issues","members_url":"https://api.github.com/orgs/apiiiiii/members{/member}","public_members_url":"https://api.github.com/orgs/apiiiiii/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/19580612?v=3","description":null}]'
  recorded_at: Thu, 26 May 2016 02:25:29 GMT
recorded_with: VCR 3.0.3
