---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1464234713'
      Etag:
      - W/"bfb95e8f9fdeb9cab4e3d91f7cca889b"
      Last-Modified:
      - Mon, 23 May 2016 22:49:11 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"pindell-matt","id":8797393,"avatar_url":"https://avatars.githubusercontent.com/u/8797393?v=3","gravatar_id":"","url":"https://api.github.com/users/pindell-matt","html_url":"https://github.com/pindell-matt","followers_url":"https://api.github.com/users/pindell-matt/followers","following_url":"https://api.github.com/users/pindell-matt/following{/other_user}","gists_url":"https://api.github.com/users/pindell-matt/gists{/gist_id}","starred_url":"https://api.github.com/users/pindell-matt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pindell-matt/subscriptions","organizations_url":"https://api.github.com/users/pindell-matt/orgs","repos_url":"https://api.github.com/users/pindell-matt/repos","events_url":"https://api.github.com/users/pindell-matt/events{/privacy}","received_events_url":"https://api.github.com/users/pindell-matt/received_events","type":"User","site_admin":false,"name":"Matt
        Pindell","company":null,"blog":null,"location":null,"email":"pindell.m@protonmail.com","hireable":null,"bio":null,"public_repos":40,"public_gists":7,"followers":20,"following":18,"created_at":"2014-09-16T19:59:39Z","updated_at":"2016-05-23T22:49:11Z"}'
  recorded_at: Thu, 26 May 2016 02:51:52 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1464234713'
      Etag:
      - '"529601266bbb8a8393c67eab912cf9c5"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 26 May 2016 02:51:53 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/pindell-matt/received_events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1464234713'
      Etag:
      - W/"e49a7aac76e213674f890cd5a1b7e828"
      Last-Modified:
      - Wed, 25 May 2016 20:37:57 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/8797393/received_events?page=2>; rel="next",
        <https://api.github.com/user/8797393/received_events?page=10>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4062705267","type":"ForkEvent","actor":{"id":9501766,"login":"Carmer","display_login":"Carmer","gravatar_id":"","url":"https://api.github.com/users/Carmer","avatar_url":"https://avatars.githubusercontent.com/u/9501766?"},"repo":{"id":59613892,"name":"alanbsmith/git-workflow","url":"https://api.github.com/repos/alanbsmith/git-workflow"},"payload":{"forkee":{"id":59695985,"name":"git-workflow","full_name":"Carmer/git-workflow","owner":{"login":"Carmer","id":9501766,"avatar_url":"https://avatars.githubusercontent.com/u/9501766?v=3","gravatar_id":"","url":"https://api.github.com/users/Carmer","html_url":"https://github.com/Carmer","followers_url":"https://api.github.com/users/Carmer/followers","following_url":"https://api.github.com/users/Carmer/following{/other_user}","gists_url":"https://api.github.com/users/Carmer/gists{/gist_id}","starred_url":"https://api.github.com/users/Carmer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Carmer/subscriptions","organizations_url":"https://api.github.com/users/Carmer/orgs","repos_url":"https://api.github.com/users/Carmer/repos","events_url":"https://api.github.com/users/Carmer/events{/privacy}","received_events_url":"https://api.github.com/users/Carmer/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Carmer/git-workflow","description":"an
        illustrated guide... in progress","fork":true,"url":"https://api.github.com/repos/Carmer/git-workflow","forks_url":"https://api.github.com/repos/Carmer/git-workflow/forks","keys_url":"https://api.github.com/repos/Carmer/git-workflow/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Carmer/git-workflow/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Carmer/git-workflow/teams","hooks_url":"https://api.github.com/repos/Carmer/git-workflow/hooks","issue_events_url":"https://api.github.com/repos/Carmer/git-workflow/issues/events{/number}","events_url":"https://api.github.com/repos/Carmer/git-workflow/events","assignees_url":"https://api.github.com/repos/Carmer/git-workflow/assignees{/user}","branches_url":"https://api.github.com/repos/Carmer/git-workflow/branches{/branch}","tags_url":"https://api.github.com/repos/Carmer/git-workflow/tags","blobs_url":"https://api.github.com/repos/Carmer/git-workflow/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Carmer/git-workflow/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Carmer/git-workflow/git/refs{/sha}","trees_url":"https://api.github.com/repos/Carmer/git-workflow/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Carmer/git-workflow/statuses/{sha}","languages_url":"https://api.github.com/repos/Carmer/git-workflow/languages","stargazers_url":"https://api.github.com/repos/Carmer/git-workflow/stargazers","contributors_url":"https://api.github.com/repos/Carmer/git-workflow/contributors","subscribers_url":"https://api.github.com/repos/Carmer/git-workflow/subscribers","subscription_url":"https://api.github.com/repos/Carmer/git-workflow/subscription","commits_url":"https://api.github.com/repos/Carmer/git-workflow/commits{/sha}","git_commits_url":"https://api.github.com/repos/Carmer/git-workflow/git/commits{/sha}","comments_url":"https://api.github.com/repos/Carmer/git-workflow/comments{/number}","issue_comment_url":"https://api.github.com/repos/Carmer/git-workflow/issues/comments{/number}","contents_url":"https://api.github.com/repos/Carmer/git-workflow/contents/{+path}","compare_url":"https://api.github.com/repos/Carmer/git-workflow/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Carmer/git-workflow/merges","archive_url":"https://api.github.com/repos/Carmer/git-workflow/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Carmer/git-workflow/downloads","issues_url":"https://api.github.com/repos/Carmer/git-workflow/issues{/number}","pulls_url":"https://api.github.com/repos/Carmer/git-workflow/pulls{/number}","milestones_url":"https://api.github.com/repos/Carmer/git-workflow/milestones{/number}","notifications_url":"https://api.github.com/repos/Carmer/git-workflow/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Carmer/git-workflow/labels{/name}","releases_url":"https://api.github.com/repos/Carmer/git-workflow/releases{/id}","deployments_url":"https://api.github.com/repos/Carmer/git-workflow/deployments","created_at":"2016-05-25T20:37:57Z","updated_at":"2016-05-24T22:50:36Z","pushed_at":"2016-05-25T01:40:22Z","git_url":"git://github.com/Carmer/git-workflow.git","ssh_url":"git@github.com:Carmer/git-workflow.git","clone_url":"https://github.com/Carmer/git-workflow.git","svn_url":"https://github.com/Carmer/git-workflow","homepage":null,"size":84,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","public":true}},"public":true,"created_at":"2016-05-25T20:37:57Z"},{"id":"4062121493","type":"ForkEvent","actor":{"id":13105577,"login":"damwhit","display_login":"damwhit","gravatar_id":"","url":"https://api.github.com/users/damwhit","avatar_url":"https://avatars.githubusercontent.com/u/13105577?"},"repo":{"id":52821317,"name":"weilandia/little_owl","url":"https://api.github.com/repos/weilandia/little_owl"},"payload":{"forkee":{"id":59688369,"name":"little_owl","full_name":"damwhit/little_owl","owner":{"[...]
