---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4929'
      X-Ratelimit-Reset:
      - '1464231007'
      Etag:
      - W/"bfb95e8f9fdeb9cab4e3d91f7cca889b"
      Last-Modified:
      - Mon, 23 May 2016 22:49:11 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"pindell-matt","id":8797393,"avatar_url":"https://avatars.githubusercontent.com/u/8797393?v=3","gravatar_id":"","url":"https://api.github.com/users/pindell-matt","html_url":"https://github.com/pindell-matt","followers_url":"https://api.github.com/users/pindell-matt/followers","following_url":"https://api.github.com/users/pindell-matt/following{/other_user}","gists_url":"https://api.github.com/users/pindell-matt/gists{/gist_id}","starred_url":"https://api.github.com/users/pindell-matt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pindell-matt/subscriptions","organizations_url":"https://api.github.com/users/pindell-matt/orgs","repos_url":"https://api.github.com/users/pindell-matt/repos","events_url":"https://api.github.com/users/pindell-matt/events{/privacy}","received_events_url":"https://api.github.com/users/pindell-matt/received_events","type":"User","site_admin":false,"name":"Matt
        Pindell","company":null,"blog":null,"location":null,"email":"pindell.m@protonmail.com","hireable":null,"bio":null,"public_repos":40,"public_gists":7,"followers":20,"following":18,"created_at":"2014-09-16T19:59:39Z","updated_at":"2016-05-23T22:49:11Z"}'
  recorded_at: Thu, 26 May 2016 02:45:39 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1464231007'
      Etag:
      - '"529601266bbb8a8393c67eab912cf9c5"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 26 May 2016 02:45:39 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/pindell-matt/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d52626e2bec12ad818579dad52c62620547e98a1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1464231007'
      Etag:
      - W/"358653a0944c3866ed661b26499be9cf"
      Last-Modified:
      - Thu, 26 May 2016 02:41:04 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 08d042b701e4bab22fa6
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/8797393/events?page=2>; rel="next", <https://api.github.com/user/8797393/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4063890735","type":"PushEvent","actor":{"id":8797393,"login":"pindell-matt","display_login":"pindell-matt","gravatar_id":"","url":"https://api.github.com/users/pindell-matt","avatar_url":"https://avatars.githubusercontent.com/u/8797393?"},"repo":{"id":59521288,"name":"pindell-matt/api_curious","url":"https://api.github.com/repos/pindell-matt/api_curious"},"payload":{"push_id":1129578910,"size":1,"distinct_size":1,"ref":"refs/heads/user_data_experiment","head":"ad6380b63871a5bf9986eafee775aac5f77835e0","before":"2afc3ab7829f7d2a38b4a34885f0e872f3565494","commits":[{"sha":"ad6380b63871a5bf9986eafee775aac5f77835e0","author":{"email":"pindell.m@gmail.com","name":"Matt
        Pindell"},"message":"Add test for contributions_in_year to GithubService spec","distinct":true,"url":"https://api.github.com/repos/pindell-matt/api_curious/commits/ad6380b63871a5bf9986eafee775aac5f77835e0"}]},"public":true,"created_at":"2016-05-26T02:41:04Z"},{"id":"4063860246","type":"PushEvent","actor":{"id":8797393,"login":"pindell-matt","display_login":"pindell-matt","gravatar_id":"","url":"https://api.github.com/users/pindell-matt","avatar_url":"https://avatars.githubusercontent.com/u/8797393?"},"repo":{"id":59521288,"name":"pindell-matt/api_curious","url":"https://api.github.com/repos/pindell-matt/api_curious"},"payload":{"push_id":1129567639,"size":1,"distinct_size":1,"ref":"refs/heads/user_data_experi[...]
