<nav>
  <div class="nav-wrapper grey lighten-4">
    <a href="#" class="brand-logo"></a>
    <ul class="left hide-on-small-only">
      <li><i class="fa fa-github fa-2x" aria-hidden="true"></i></li>
    </ul>
    <ul class="right hide-on-med-only">
      <li><%= link_to "Sign in with Github", login_path, class: "login-link" %></li>
    </ul>
  </div>
</nav>
