<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand fa-home fa fa-github fa-2x" href="/"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search" action="/search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search CloneHub" name="q" id="q">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if session[:token] %>
            <li><%= link_to "Logout", logout_path, method: :delete, class: "login-link" %></li>
          <% else %>
            <li><%= link_to "Sign in with Github", login_path, class: "login-link" %></li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
